<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="om.example.sms.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="com.example.sms.domain.Message">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="CONTENT" jdbcType="VARCHAR" property="type" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" /> 
  </resultMap>
	

	<!-- 根据号码获取最新时间的验证码 -->
	<select id="getByPhone" resultMap="BaseResultMap">
		SELECT
		    * 
	    FROM
		    t_sms 
	    WHERE
		create_time = ( SELECT max( create_time ) FROM t_sms WHERE 
		type = '0' and phone =#{phone})  	
	</select>
</mapper>